{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contenido del Home -->

<div class="home">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-md-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="">
                    <img src="{% static 'stellarsApp/public/img/Halloween2.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-xl-block">
                    <h5><b>Halloween: La Noche Final</b></h5>
                    <p><small><b>Cuatro años después de los eventos de Halloween en 2018, Laurie ha decidido liberarse del miedo y la ira y abrazar la vida. Pero cuando un joven es acusado de matar a un niño que estaba cuidando, se enciende una cascada de violencia y terror que obligará a Laurie a enfrentarse finalmente al mal que no puede controlar, de una vez por todas.</b></small></p>
                    </div></a>
                </div>
                <div class="carousel-item">
                    <a href="">
                    <img src="{% static 'stellarsApp/public/img/Smile.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-xl-block">
                    <h5><b>Smile</b></h5>
                    <p><small><b>Tras presenciar un extraño y traumático incidente con un paciente, la doctora Rose Cotter (Sosie Bacon) comienza a experimentar sucesos aterradores que no puede explicar. A medida que un miedo sobrecogedor comienza a afectar a todos los aspectos de su vida, Rose se verá obligada a afrontar a su problemático pasado para sobrevivir y escapar de su terrorífica nueva realidad.</b></small> </p>
                    </div></a>
                </div>
                <div class="carousel-item">
                    <a href="">
                    <img src="{% static 'stellarsApp/public/img/Barbarian.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-xl-block">
                    <h5><b>Barbarian</b></h5>
                    <p><small><b>Una joven que viaja a Detroit para una entrevista de trabajo alquila una casa para pasar la noche. Pero cuando llega a altas horas de la noche, descubre que la casa está doblemente reservada y que un hombre extraño ya se está quedando allí. En contra de su buen juicio, decide pasar la noche allí, pero pronto descubre que hay mucho más que temer que un invitado inesperado.</b></small> </p>
                    </div></a>
                </div>
                <div class="carousel-item">
                    <a href="">
                    <img src="{% static 'stellarsApp/public/img/BlackFriday.png' %}" class="d-block w-100" id="sale" alt="...">
                    <div class="carousel-caption d-none d-xl-block">
                    <h5></h5>
                    <p><small></small> </p>
                    </div></a>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>

    
    <h2>ESTRENOS</h2>
    <div class="row gy-5">
            
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <a href="">
                <img src="{% static 'stellarsApp/public/img/Halloween2.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                </div></a>
            </div>  
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <a href="">
                <img src="{% static 'stellarsApp/public/img/Smile.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                </div></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <a href="">
                <img src="{% static 'stellarsApp/public/img/Barbarian.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                </div></a>
            </div> 
        </div>       
    </div>
    
    
    <h2>PELICULAS</h2>
    <div class="row gy-5">
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Halloween2.jpg' %}" class="card-img" alt="...">
                <div class="estreno">
                    <small>ESTRENO</small>   
                </div>
                <div class="card-img-overlay">
                <h5 class="card-title"><small><b>Halloween: La Noche Final</b></small></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                <div class="card-img-overlay">
                    <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                </div>
                </div>
            </div>  
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Smile.jpg' %}" class="card-img" alt="...">
                <div class="estreno">
                    <small>ESTRENO</small>
                </div>
                <div class="card-img-overlay">
                <h5 class="card-title"><small><b>Smile</b></small></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                <div class="card-img-overlay">
                    <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Barbarian.jpg' %}" class="card-img" alt="...">
                <div class="estreno">
                    <small>ESTRENO</small>   
                </div>
                <div class="card-img-overlay">
                <h5 class="card-title"><small><b>Barbarian</b></small></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                <div class="card-img-overlay">
                    <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                </div>
                </div>
            </div> 
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Terrifier_2.jpg' %}" class="card-img" alt="...">
                <div class="cartelera">
                    <small>EN CARTELERA</small>
                </div>
                <div class="card-img-overlay">
                <h5 class="card-title"><small><b>Terrifier 2</b></small></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                <div class="card-img-overlay">
                    <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                </div>
                </div>
            </div>  
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Black_Adam.jpg' %}" class="card-img" alt="...">
                <div class="cartelera">
                    <small>EN CARTELERA</small>
                </div>
                <div class="card-img-overlay">
                <h5 class="card-title"><small><b>Black Adam</b></small></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                <div class="card-img-overlay">
                    <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Avatar.jpg' %}" class="card-img" alt="...">
                <div class="cartelera">
                    <small>EN CARTELERA</small>
                </div>
                <div class="card-img-overlay">
                <h5 class="card-title"><small><b>Avatar: The way of water</b></small></h5>
                <p class="card-text"></p>
                <p class="card-text"><small></small></p>
                <div class="card-img-overlay">
                    <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                </div>
                </div>
            </div> 
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-bg-dark">
                <img src="{% static 'stellarsApp/public/img/Black_Panther.jpg' %}" class="card-img" alt="...">
                <div class="proximamente">
                    <small>PRÓXIMAMENTE</small>   
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title"><small><b>Black Panther: Wakanda Forever</b></small></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                    <div class="card-img-overlay">
                        <a href=""><button type="button" class="btn btn-warning btn-sm"><b>Descripción</b></button></a>
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><b>Comprar</b></button>
                    </div>
                </div>
            </div> 
        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">FINALIZAR COMPRAR</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if mensaje %}
                <div class="alert alert-success" role="alert">
                    {{mensaje}}
                </div>
                {% endif %}
                <form novalidate id="contac-form" name="contac-form" action="{% url 'Inicio' %}" method="post">
                    {% csrf_token %}
                    <table>
                      {{contacto_form}}  
                    </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-light btn-sm">Comprar</button>
            </form>
            </div>
        </div>
        </div>
    </div>

</div>    
{% endblock content %}