/* Link de fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-left: 78px;
    font-size: 300px;
}

.sidebar {
    position: fixed;
    top: 78px;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    transition: all 0.3s ease 0s;
    z-index: 10;
}
.sidebar.show {
    width: 260px;
    transition: all 0.3s ease 0s;
}

.sidebar .nav-links {
    height: 100%;
    padding: 20px 0 150px 0;
    overflow: auto;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar.closed .nav-links {
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
    background: #11101d;
}
.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(180deg);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #11101d;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}
.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar .nav-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}


/*--------------- topbar ---------------*/
.topbar-content {
    display: flex;
    position: fixed;
    background: rgb(200, 0, 0);
    left: 0;
    /* width: calc(100% - 260px); */
    width: 100%;
    z-index: 10;
    justify-content: space-between;
}

.topbar-content .topbar-section {
    display: flex;
    height: 78px;
}

.topbar-section .logo-details {
    margin: 5px 0 15px 15px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.topbar-section .logo-details .logo_name1 {
    margin: -22px -8px 0;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.topbar-section .logo-details .logo_name2 {
    margin: 32px -12px 0;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.logo-img {
    margin: 10px 0 0 10px;
    width: 50px;
    height: auto;
}

.logo-line {
    margin: 7px -124px 0;
    width: 61%;
    height: 3px;
}

.section {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 0px 15px yellow
}

.inicio-sesion{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.inicio-sesion > div {
    margin: 5px;
}

/* ----------- Footer ------------ */

body {
    position: absolute;
  }
  
body::after {
    content: '';
    display: block;
  }

.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color:#11101d; /* #161616 */
  }

  ul{
    list-style: none;
  }

.footer {
    position:relative;
    align-items: flex-start;
    bottom: 0;
    width: 100%;
    background-color: #24262b;
    padding: 0 0 0 60px;
    justify-content: center;
}

.footer-col{
    width: 25%;
    padding: 0 0 0 10px;
    margin: 20px
 }

 .footer-col h4{
   font-size: 18px;
   color: #ffffff;
   text-transform: capitalize;
   margin-bottom: 20px;
   font-weight: 500;
   position: relative;
 }

 .footer-col h4::before{
   content: '';
   position: absolute;
   left:0;
   bottom: -10px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
 }

 .footer-col ul li:not(:last-child){
   margin-bottom: 10px;
 }

 .footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
 }

 .footer-col ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
 }

 .footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin:0 5px 5px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #ffffff;
   transition: all 0.5s ease;
 }

 .footer-col .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;
 }
/* ---------------- MEDIA QUERY ---------------- */

@media(max-width:1270px){

    .section{
        font-size: 25px;
    }
    }
    @media(max-width:1170px){
    
        .section{
            font-size: 22px;
    }
    }
    @media(max-width:1080px){
    
    .section{
        font-size: 20px;
    }
    }
    @media(max-width:1030px){
    
        .section{
            font-size: 18px;
    }
    }
    @media(max-width:985px){
    
        .section{
            font-size: 15px;
    }
    }
    @media(max-width:920px){
    
    .section{
        display: none;
    }
    }

 /* ----------- Media query -574px ------------ */ 
 
  @media(max-width: 574px){
    .footer{
        padding: 0 0 0 80px;
    }
    .footer-col{
        width: 100%;
        margin: 10px
    }
 
    .footer-col h4{
       font-size: 18px;
       color: #ffffff;
       text-transform: capitalize;
       font-weight: 500;
       position: relative;
    }

    .footer-col .links-utiles{
        display: none;
    }

    .footer-col .presentation{
        display: none;
    }
    
    .footer-col h4::before{
       content: '';
       position: absolute;
       left:0;
       bottom: -10px;
       background-color: #e91e63;
       height: 2px;
       box-sizing: border-box;
       width: 50px;
    }
    
    .footer-col ul li:not(:last-child){
       margin-bottom: 10px;
    }
    
     .footer-col ul li a{
       font-size: 12px;
       text-transform: capitalize;
       color: #ffffff;
       text-decoration: none;
       font-weight: 300;
       color: #bbbbbb;
       display: block;
       transition: all 0.3s ease;
     }
         
     .footer-col .social-links a{
       display: inline-block;
       height: 40px;
       width: 40px;
       background-color: rgba(255,255,255,0.2);
       margin:0 5px 5px 0;
       text-align: center;
       line-height: 40px;
       border-radius: 50%;
       color: #ffffff;
       transition: all 0.5s ease;
     }
    
     .footer-col .social-links a:hover{
       color: #24262b;
       background-color: #ffffff;
     }

    }
/* ----------- FIN Media query -574px ------------ */ 

/* --------------- FIN FOOTER -------------------- */

    @media(max-width:500px){
    
        .prueba .btn{
            font-size: 10px;
            padding: 2.5px;
            margin: -3.5px;
    }
    }